<ion-header class="opaque">
  <ion-navbar light>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-segment [(ngModel)]="displayMode" dark>
      <ion-segment-button value="0" small style="max-width: 90px !important;">
        <span *ngIf="today == trueToday">Сегодня</span>
        <span *ngIf="today != trueToday">{{today}}</span>
      </ion-segment-button>
      <ion-segment-button value="2" small>
        Backlog
      </ion-segment-button>
      <ion-segment-button value="1" small>
        Все
      </ion-segment-button>
    </ion-segment>

    <ion-buttons end>
      <button (click)="showPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<button dark class="add-task-btn" fab (click)="addTaskScreen()">
  <ion-icon name="add"></ion-icon>
</button>

<ion-content full-screen>
  <!--<ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>-->

  <div [ngSwitch]="displayMode" *ngIf="allTasks">
    <div *ngSwitchCase="'0'">
      <div text-center padding *ngIf="!allTasks.all_tasks">
        <ion-spinner></ion-spinner>
      </div>

      <ion-list *ngIf="allTasks.all_tasks">
          <ion-list-header>
            Обязательные задачи
          </ion-list-header>

          <ion-grid class="progress-bar" *ngIf="allTasks.required_tasks_count">
            <ion-row>
              <ion-col width-40>Осталось {{counters.required_not_done}} из {{allTasks.required_tasks_count}}</ion-col>

              <ion-col width-40 text-center>{{formatedTaskTime(counters.required_estimate)}}</ion-col>

              <ion-col text-right width-20 *ngIf="allTasks.required_tasks_count">{{parseInt(counters.required_done / allTasks.required_tasks_count * 100 )}}%</ion-col>
              <ion-col text-right width-20 *ngIf="!allTasks.required_tasks_count">0%</ion-col>
            </ion-row>

            <ion-row>
              <ion-col><div class="progress"><div class="bar" [ngStyle]="{'width': counters.required_done / allTasks.required_tasks_count * 100+'%'}"></div></div></ion-col>
            </ion-row>
          </ion-grid>

          <div *ngIf="allTasks.all_tasks[today]">
            <div *ngIf="allTasks.all_tasks[today]['1'] && allTasks.all_tasks[today]['1'].length > 0">
              <div *ngFor="let item of allTasks.all_tasks[today]['1'] | orderBy: ['created_at']">
                <ion-item-sliding *ngIf="!item.done" #slidingItem>
                  <ion-item-options side="left" (ionSwipe)="doneTask(item, slidingItem)">
                    <button swipeable (click)="doneTask(item, slidingItem)" expandable favorite>
                      <ion-icon name="checkmark"></ion-icon>
                    </button>
                  </ion-item-options>

                  <ion-item tappable (click)="editTask(item)">
                    <h2>{{item.name}}</h2>
                    <ion-note item-right>{{formatedTaskTime(item.estimate_time)}}</ion-note>
                  </ion-item>

                  <ion-item-options side="right" (ionSwipe)="sendTomorrow(item)">
                    <button danger (click)="removeTask(item)">
                      <ion-icon name="close"></ion-icon>
                    </button>

                    <button expandable swipeable light (click)="sendTomorrow(item)">
                      <ion-icon name="return-right"></ion-icon>
                    </button>
                  </ion-item-options>
                </ion-item-sliding>
              </div>
            </div>
          </div>

        <div *ngIf="counters.required_not_done < 1">
          <div padding empty-msg>
            На этот день задач нет
          </div>
        </div>

        <br>

        <ion-list-header>
          Дополнительные задачи
        </ion-list-header>

        <ion-grid class="progress-bar" *ngIf="allTasks.optional_tasks_count">
          <ion-row>
            <ion-col width-40>Осталось {{counters.optional_not_done}} из {{allTasks.optional_tasks_count}}</ion-col>

            <ion-col width-40 text-center>{{formatedTaskTime(counters.optional_estimate)}}</ion-col>

            <ion-col text-right width-20 *ngIf="allTasks.optional_tasks_count">{{parseInt(counters.optional_done / allTasks.optional_tasks_count * 100 )}}%</ion-col>
            <ion-col text-right width-20 *ngIf="!allTasks.optional_tasks_count">0%</ion-col>
          </ion-row>

          <ion-row>
            <ion-col><div class="progress"><div class="bar" [ngStyle]="{'width': counters.optional_done / allTasks.optional_tasks_count * 100+'%'}"></div></div></ion-col>
          </ion-row>
        </ion-grid>


        <div *ngIf="allTasks.all_tasks[today]">
          <div *ngIf="allTasks.all_tasks[today]['2'] && allTasks.all_tasks[today]['2'].length > 0">
            <div *ngFor="let item of allTasks.all_tasks[today]['2'] | orderBy: ['created_at']">
              <ion-item-sliding *ngIf="!item.done" #slidingItem>
                <ion-item-options side="left" (ionSwipe)="doneTask(item, slidingItem)">
                  <button (click)="doneTask(item, slidingItem)" swipeable expandable favorite>
                    <ion-icon name="checkmark"></ion-icon>
                  </button>
                </ion-item-options>

                <ion-item tappable (click)="editTask(item)">
                  <h2>{{item.name}}</h2>
                  <ion-note item-right>{{formatedTaskTime(item.estimate_time)}}</ion-note>
                </ion-item>

                <ion-item-options side="right" (ionSwipe)="sendTomorrow(item)">
                  <button danger (click)="removeTask(item)">
                    <ion-icon name="close"></ion-icon>
                  </button>

                  <button expandable swipeable light (click)="sendTomorrow(item)">
                    <ion-icon name="return-right"></ion-icon>
                  </button>
                </ion-item-options>
              </ion-item-sliding>
            </div>
          </div>
        </div>

        <div *ngIf="counters.optional_not_done < 1">
          <div padding empty-msg>
            На этот день задач нет
          </div>
        </div>

        <br>
        <div *ngIf="allTasks.done_tasks && allTasks.done_tasks.length > 0">
          <ion-list-header>
            Завершенные задачи
          </ion-list-header>

          <div *ngIf="allTasks.all_tasks[today]">
            <div *ngIf="allTasks.all_tasks[today]['1'] && allTasks.all_tasks[today]['1'].length > 0">
              <div *ngFor="let item of allTasks.all_tasks[today]['1'] | orderBy: ['created_at']">
                <ion-item-sliding *ngIf="item.done" #slidingItem>
                  <ion-item-options side="left" (ionSwipe)="doneTask(item, slidingItem)">
                    <button (click)="doneTask(item, slidingItem)" swipeable expandable orange>
                      <ion-icon name="undo"></ion-icon>
                    </button>
                  </ion-item-options>

                  <ion-item>
                    <h2 half-opacity>{{item.name}}</h2>
                    <ion-note item-right>{{formatedTaskTime(item.estimate_time)}}</ion-note>
                  </ion-item>
                </ion-item-sliding>
              </div>
            </div>

            <div *ngIf="allTasks.all_tasks[today]['2'] && allTasks.all_tasks[today]['2'].length > 0">
              <div *ngFor="let item of allTasks.all_tasks[today]['2'] | orderBy: ['created_at']">
                <ion-item-sliding *ngIf="item.done" #slidingItem>
                  <ion-item-options side="left" (ionSwipe)="doneTask(item, slidingItem)">
                    <button (click)="doneTask(item, slidingItem)" swipeable expandable orange>
                      <ion-icon name="undo"></ion-icon>
                    </button>
                  </ion-item-options>

                  <ion-item>
                    <h2 half-opacity>{{item.name}}</h2>
                    <ion-note item-right>{{formatedTaskTime(item.estimate_time)}}</ion-note>
                  </ion-item>
                </ion-item-sliding>
              </div>
            </div>
          </div>
        </div>
      </ion-list>
    </div>

    <div *ngSwitchCase="'1'">
      <ion-list *ngIf="allTasks.all_tasks">
        <div *ngFor="let key of keys();">
          <div *ngIf="key && (allTasks.all_tasks[key]['1'] && allTasks.all_tasks[key]['1'].length > 0 || allTasks.all_tasks[key]['2'] && allTasks.all_tasks[key]['2'].length > 0)">
            <ion-list-header>
              <time>{{key | amDateFormat:'LL'}}</time>
            </ion-list-header>

            <div *ngIf="allTasks.all_tasks[key]['1'].length > 0">
              <div>
                <ion-item-sliding *ngFor="let item of allTasks.all_tasks[key]['1'] | orderBy: ['created_at']" #slidingItem>
                  <ion-item-options side="left" (ionSwipe)="doneTask(item, slidingItem)">
                    <button *ngIf="item.done" (click)="doneTask(item, slidingItem)" swipeable expandable orange>
                      <ion-icon name="undo"></ion-icon>
                    </button>
                    <button *ngIf="!item.done" (click)="doneTask(item, slidingItem)" swipeable expandable favorite>
                      <ion-icon name="checkmark"></ion-icon>
                    </button>
                  </ion-item-options>

                  <ion-item tappable (click)="editTask(item)">
                    <h2 *ngIf="item.done" half-opacity>{{item.name}}</h2>
                    <h2 *ngIf="!item.done">{{item.name}}</h2>
                    <ion-note item-right>{{formatedTaskTime(item.estimate_time)}}</ion-note>
                  </ion-item>

                  <ion-item-options side="right" (ionSwipe)="sendTomorrow(item)">
                    <button danger (click)="removeTask(item)">
                      <ion-icon name="close"></ion-icon>
                    </button>

                    <button expandable swipeable light (click)="sendTomorrow(item)">
                      <ion-icon name="return-right"></ion-icon>
                    </button>
                  </ion-item-options>
                </ion-item-sliding>
              </div>
            </div>

            <div *ngIf="allTasks.all_tasks[key]['2'] && allTasks.all_tasks[key]['2'].length > 0">
              <div>
                <ion-item-sliding *ngFor="let item of allTasks.all_tasks[key]['2'] | orderBy: ['created_at']" #slidingItem>
                  <ion-item-options side="left" (ionSwipe)="doneTask(item, slidingItem)">
                    <button *ngIf="item.done" (click)="doneTask(item, slidingItem)" swipeable expandable orange>
                      <ion-icon name="undo"></ion-icon>
                    </button>
                    <button *ngIf="!item.done" (click)="doneTask(item, slidingItem)" swipeable expandable favorite>
                      <ion-icon name="checkmark"></ion-icon>
                    </button>
                  </ion-item-options>

                  <ion-item tappable (click)="editTask(item)">
                    <h2 *ngIf="item.done" half-opacity>{{item.name}}</h2>
                    <h2 *ngIf="!item.done">{{item.name}}</h2>
                    <ion-note item-right>{{formatedTaskTime(item.estimate_time)}}</ion-note>
                  </ion-item>

                  <ion-item-options side="right" (ionSwipe)="sendTomorrow(item)">
                    <button danger (click)="removeTask(item)">
                      <ion-icon name="close"></ion-icon>
                    </button>

                    <button expandable swipeable light (click)="sendTomorrow(item)">
                      <ion-icon name="return-right"></ion-icon>
                    </button>
                  </ion-item-options>
                </ion-item-sliding>
              </div>
            </div>
            <br>
          </div>
        </div>
      </ion-list>
    </div>

    <div *ngSwitchCase="'2'">
      <ion-list *ngIf="allTasks.backlog_tasks">
        <div *ngFor="let item of allTasks.backlog_tasks | orderBy: ['created_at']">
          <ion-item-sliding #slidingItem>
            <ion-item-options side="left" (ionSwipe)="doneTask(item, slidingItem)">
              <button swipeable (click)="doneTask(item, slidingItem)" expandable favorite>
                <ion-icon name="checkmark"></ion-icon>
              </button>
            </ion-item-options>

            <ion-item tappable (click)="editTask(item)">
              <h2 *ngIf="item.done" half-opacity>{{item.name}}</h2>
              <h2 *ngIf="!item.done">{{item.name}}</h2>
              <ion-note item-right>{{formatedTaskTime(item.estimate_time)}}</ion-note>
            </ion-item>

            <ion-item-options side="right" (ionSwipe)="sendTomorrow(item)">
              <button danger (click)="removeTask(item)">
                <ion-icon name="close"></ion-icon>
              </button>

              <button expandable swipeable light (click)="sendTomorrow(item)">
                <ion-icon name="return-right"></ion-icon>
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </div>
      </ion-list>

      <div padding empty-msg *ngIf="allTasks.backlog_tasks < 1">
        На этот день задач нет
      </div>
    </div>
  </div>

</ion-content>
