<ion-header>
  <ion-navbar light>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Настройки</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-card *ngIf="user.profile" class="avatar">
    <img *ngIf="user.profile.avatar" src="http://dev.gofocus.ru/img/170/{{user.profile.avatar}}">
    <img *ngIf="!user.profile.avatar" src="http://dev.gofocus.ru/img/No-Image-Icon_medium.png">

    <div class="user">
      {{user.profile.name}} {{user.profile.soname}}
    </div>
  </ion-card>

  <ion-list>
    <ion-item tappable (click)="openNotificationsScreen()">
      <ion-icon name="notifications-outline" item-left></ion-icon>
      Уведомления
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item tappable (click)="openAccountScreen()">
      <ion-icon name="person-outline" item-left></ion-icon>
      Учетная запись
    </ion-item>

    <!--<ion-item tappable (click)="openAppScreen()">
      <ion-icon name="settings-outline" item-left></ion-icon>
      Основное
    </ion-item>

    <ion-item tappable (click)="openBalanceScreen()">
      <ion-icon name="cash-outline" item-left></ion-icon>
      Баланс
    </ion-item>-->
  </ion-list>

  <button danger clear full (click)="logout()">Выйти</button>

</ion-content>
