<ion-header>
  <ion-navbar light>
    <button menuToggle>
      <ion-icon name="menu">Назад</ion-icon>
    </button>
    <ion-title>Вход</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form (onSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
          <ion-input type="email" value="" name="email" placeholder="Эл. Почта" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item *ngIf="wrong_email">
        <div class="warn">
            Неверный E-Mail.
        </div>
      </ion-item>

      <ion-item>
          <ion-input type="password" value="" name="password" placeholder="Пароль" [(ngModel)]="password"></ion-input>
      </ion-item>

      <ion-item *ngIf="wrong_password_empty">
        <div class="warn">
            Пароль не может быть пустым.
        </div>
      </ion-item>
    </ion-list>

    <div padding>
      <button full-width primary type="submit" class="custom-button" (click)="onSubmit()">Войти</button>

      <button full-width dark clear type="submit" class="custom-button" (click)="forget()">Я забыл пароль</button>
    </div>
  </form>
</ion-content>
