<ion-menu [content]="content" class="sidebar" sidebar-color>

  <!--<ion-toolbar sidebar-color>
    <ion-searchbar placeholder="Поиск"></ion-searchbar>
  </ion-toolbar>-->

  <ion-content sidebar>
    <div class="ozd" *ngIf="timerPanel" text-center padding>
      <!--<div class="timer">{{timer}}</div>-->
      <button block light outline *ngIf="!user.is_active" (click)="activateAccount()">Вернуться в Фокус</button>
      <ul *ngIf="user.is_active && user.purchased_billing_rate.length > 0 && user.purchased_billing_rate[0].activated == true" (click)="openPage('dashboard', {timerPanel: timerPanel, user: user, isDebtWarn: isDebtWarn(), isDebtComplete: isDebtComplete()})">
        <li [ngClass]="{'red': until, 'green': timerPanel.checkers.report_today}">о</li>
        <li [ngClass]="{'red': until, 'green': timerPanel.checkers.task_tomorrow}">з</li>
        <li [ngClass]="{'red': isDebtWarn(), 'green': isDebtComplete()}">д</li>
      </ul>
    </div>

    <ion-list sidebar>
      <button ion-item *ngIf="user.profile" (click)="openPage('user')">
        <img class="avatar-menu" item-left *ngIf="user.profile.avatar" src="http://dev.gofocus.ru/img/170/{{user.profile.avatar}}">
        <img class="avatar-menu" item-left *ngIf="!user.profile.avatar" src="http://dev.gofocus.ru/img/No-Image-Icon_medium.png">
         {{user.profile.name}} {{user.profile.soname}}
      </button>
      <button ion-item (click)="openPage('tasks', {})"><i class="zmdi zmdi-time-interval" item-left></i> Задачи</button>
      <button ion-item (click)="openPage('goals', {})"><i class="zmdi zmdi-edit" item-left></i> Отчет</button>
      <button ion-item (click)="openPage('routines', {})"><i class="zmdi zmdi-calendar-check" item-left></i> Привычки</button>
      <button ion-item (click)="openPage('news', {})"><i class="zmdi zmdi-assignment" item-left></i> Новости</button>
      <button ion-item (click)="openPage('settings', {})"><i class="zmdi zmdi-settings" item-left></i> Настройки</button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipe-back-enabled="false"></ion-nav>
