.routines-screen {
  ion-item-sliding {

    //border-color: #ddd;

    .item {
      padding-left: 0;
      border-left: 5px solid;

      .item-inner {
        padding-left: 11px;
      }
    }
  }
}

.my-modal {
  ion-input[item-right] {
    input {
      text-align: right;
    }
  }
}
